.Cauldron-Graph-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.Cauldron-Graph-title {
  margin-bottom: 3%;
  text-align: center;
  font-size: calc(8px + 2vmin);
}
