.DailyFees-Graph-container {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.DailyFees-Graph-title {
  margin: 1%;
  font-size: calc(10px + 2vmin);
}

.DailyFees-Graph-amount {
  margin: 1%;
}
