.Holders-Graph-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Holders-Graph-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Holders-Graph-title {
  margin-bottom: 3%;
  text-align: center;
}
