.StakedRatio-Graph-container {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.StakedSpell-Graph-title {
  font-size: calc(10px + 2vmin);
}
