.About-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.About-container > h3 {
  margin-top: 2%;
}

.About-builders-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.About-builders-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 33%;
  min-width: 33%;
}

.App-link-subtitle {
  max-width: 70%;
  text-align: center;
}

.About-builders-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.About-multisig-select {
  width: 200px;
}
