.CommunityLinks-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 400px;
}

.CommunityLink-title {
  font-size: calc(10px + 2vmin);
}

.CommunityLinks-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CommunityLinks-title {
  margin-top: 2%;
  margin-bottom: 2%;
}

.CommunityLinks-link {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 25px;
  padding: 5%;
  background-color: #372e67;
  color: white;
  min-width: 50%;
  text-align: center;
  font-size: calc(4px + 2vmin);
}
