.App-flip-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 70%;
  max-width: 70%;
  margin-top: 2%;
}

.Flip-panel-multi-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Flip-panel-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Flip-panel-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 25%;
}

.Flip-panel-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3.5%;
  font-size: calc(6px + 2vmin);
}

.Flip-panel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Flip-panel-mcap-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Flip-panel-future-price-container {
  margin: 0;
  text-align: center;
}

.Flip-panel-future-price {
  text-align: center;
  margin: 2%;
}

.App-note {
  text-align: center;
}
