.App-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: calc(3px + 2vmin);
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.App-links-container > p {
  margin-top: 1%;
  margin-bottom: 1%;
}
