.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  width: 90%;
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding-bottom: 2%;
}

.App-header-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.App-header-title {
  font-size: calc(18px + 2vmin);
  margin-top: 1%;
  margin-bottom: 1%;
}

.App-header-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.App-header-button {
  cursor: pointer;
  text-decoration: underline;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  min-width: 120px;
}

.App-header-button:hover {
  color: white;
}

.App-header-button:visited {
  color: white;
}
