.Liquidated-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40%;
}

.Liquidated-title {
  font-size: calc(10px + 2vmin);
}

.Liquidated-address-input {
  background-color: transparent;
  color: white;
  text-align: center;
  border-width: 1px;
  border-color: #7b79f7;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 2%;
  width: 100%;
  padding: 2%;
  font-size: calc(4px + 2vmin);
}

.Liquidated-submit-button {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  padding: 1.5%;
  background-color: #372e67;
  color: white;
  min-width: 25%;
  text-align: center;
  font-size: calc(4px + 2vmin);
  margin-top: 2%;
  margin-bottom: 2%;
}

.Liquidated-items-container {
  margin-top: 4%;
}

.Liquidated-chain-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4%;
}

.Liquidated-chain-name {
  font-weight: bold;
}

.Liquidated-asset-total {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}
