.MIM-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.MIM-container-title {
  font-size: calc(16px + 2vmin);
  margin-top: 1%;
}

.MIM-Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.MIM-Countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.MIM-Countdown-title {
  margin-right: 5%;
}

.MIM-Header-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 500px;
  max-width: 500px;
  margin-bottom: 3%;
  margin-top: 2%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  padding: 2%
}

.MIM-Box-text {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.MIM-Table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

/* .MIM-Table-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-bottom: 3%;
} */

.MIM-Table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
}

.MIM-Table-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1%;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.MIM-Table-titles > .MIM-Table-column {
  font-weight: bold;
}

.MIM-Table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.MIM-Table-column {
  align-self: center;
  min-width: 25%;
  max-width: 25%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
