.Progress-Bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 60%;
}

.Progress-Bar-flames-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
