.StakedRatio-Multichain-container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-width: 400px;
}

.StakedRatio-Multichain-title {
  margin-bottom: 5%;
  text-align: center;
}

.StakedRatio-Multichain-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.StakedRatio-Multichain-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.StakedRatio-Multichain-list-text {
  margin-bottom: 1%;
  text-align: center;
}

.StakedRatio-Multichain-link {
  color: white;
}

.MIM-Countdown-Multichain-title {
  margin-right: 1%;
}

.MIM-Countdown-title {
  margin-right: 5%;
}
