.Treasury-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.Treasury-Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.Treasury-Header-title {
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: calc(15px + 2vmin);
}

.Treasury-Header-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 500px;
  max-width: 500px;
  padding-top: 1%;
  padding-bottom: 1%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  height: 100%;
}

.Treasury-Header-box-title {
  font-size: calc(10px + 2vmin);
}

.Treasury-Box-text {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.Treasury-Table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1%;
}

/* .Treasury-Table-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-bottom: 3%;
} */

.Treasury-Table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
}

.Treasury-Table-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1%;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.Treasury-Table-titles > .Treasury-Table-column {
  font-weight: bold;
}

.Treasury-Table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.Treasury-Table-column {
  align-self: center;
  min-width: 25%;
  max-width: 25%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
